@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arcade";
  src: url("/arcade.ttf");
}

* {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  user-select: none;
}